fastapi
uvicorn
psycopg2-binary
python-dotenv
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
sentence-transformers
pgvector
pgvector[psycopg2]
PyJWT
redis 
beautifulsoup4
langchain-core
pytesseract
Pillow
pymupdf
python-pptx
langchain-groq
requests
python-multipart
