fastapi
uvicorn
psycopg2-binary
python-dotenv
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
sentence-transformers
pgvector
pgvector[psycopg2]
pytesseract
pillow
beautifulsoup4
redis
bleach
msal
pyjwt
python-multipart
unstructured
unstructured[pdf]
python-docx
openpyxl
python-pptx
lxml
requests
